{% extends "base.html" %}

{% block content %}
<h1><br>{{building.name}}</br></h1>
<div class="row">
    <div class="col-sm-6">
        <div>
            <img class="d-block" src={{building.image_link}}>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">От {{building.price}} руб.</h3>
                <h4 class="card-title">{{building.address}}</h4>
                <p class="card-text">{{building.about}}</p>
                <a href="#" type="button" class="btn btn-outline-dark">Записаться</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
