{% extends "base.html" %}

{% block content %}
<div id="primary-slider" class="splide">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <a href="/catalog"><h1 style="color: white; padding-top: 400px; margin-left: 825px">Недвижимость</h1>
                </a>
                <img src="https://images.wallpaperscraft.ru/image/nochnoj_gorod_ogni_goroda_obzor_129026_3840x2400.jpg">

            </li>
            <li class="splide__slide">
                <a href="/catalog"><h1 style="color: white; padding-top: 400px; margin-left: 825px">Недвижимость</h1>
                </a>
                <img src="https://i.pinimg.com/originals/2b/e6/4a/2be64a20dd14238904e3e119a15e8c50.jpg">
            </li>
        </ul>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var primarySlider = new Splide('#primary-slider', {
            type: 'fade',
            heightRatio: 0.5,
            pagination: false,
            arrows: true,
            cover: true,
        }).mount(); // do not call mount() here.
    });
</script>
{% endblock %}